/* variables */
$colorprincipal:#AC0700;
$colorsecundario:#545454;
$colorterciario:white;

/* Fuentes */

$fuentePrincipal: 'didact gothic';
$fuenteSecundaria: 'arial';

/* Medidas */

$medidaBasica: 1rem;
